.objectColor{
    background: rgb(68,3,83);
    background: linear-gradient(90deg, rgba(68,3,83,1) 0%, rgba(199,68,231,1) 71%, rgba(63,5,77,1) 100%);
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}