<div class="container-fluid">
    <div class="row dflex justify-content-center">
        <h1 class="text-center">Carson's Store of Cosplay</h1>
    </div>
    <div class="row inBetween mt-4">
        <a routerLink="/home" routerLinkActive="active">
            <h4>Home</h4>
        </a>
        <a routerLink="/apparel" routerLinkActive="active">
            <h4>Apparel</h4>
        </a>
        <a routerLink="/object" routerLinkActive="active">
            <h4>Object</h4>
        </a>
        <a routerLink="/tools" routerLinkActive="active">
            <h4>Tools/Materials</h4>
        </a>
        <a routerLink="/about-us" routerLinkActive="active">
            <h4>About-Us/FAQ</h4>
        </a>
        <a routerLink="/profile" routerLinkActive="active">
            <h4>Profile</h4>
        </a>
        <a routerLink="/sign-in" routerLinkActive="active">
            <h4>Sign In</h4>
        </a>
        <a routerLink="/check-out" routerLinkActive="active">
            <h4>Check Out</h4>
        </a>
        <app-new-modal></app-new-modal>
    </div>
</div>