<div class="container-fluid">
    <div class="row dflex justify-content-center">
        <h1 class="text-center">Carson's Store of Cosplay</h1>
    </div>
    <div class="row inBetween mt-4 brdMe">
        <a routerLink="/home" routerLinkActive="active">
            <h4 class="">Home</h4>
        </a>
        <a routerLink="/apparel" routerLinkActive="active">
            <h4>Apparel</h4>
        </a>
        <a routerLink="/object" routerLinkActive="active">
            <h4>Object</h4>
        </a>
        <a routerLink="/tools" routerLinkActive="active">
            <h4>Tools/Materials</h4>
        </a>
        <a routerLink="/about-us" routerLinkActive="active">
            <h4>About-Us/FAQ</h4>
        </a>
        <a routerLink="/profile" routerLinkActive="active">
            <h4>Profile</h4>
        </a>
        <a routerLink="/create-account" routerLinkActive="active">
            <h4>Register</h4>
        </a>
        <a routerLink="/sign-in" routerLinkActive="active">
            <h4>
                {{signIn ? "Sign Out" : "Sign In"}}
                <!-- if (signIn == false){
                    Sign In
                } else {
                    Sign Out
                } -->
            </h4>
        </a>
        <!-- <a routerLink="/check-out" routerLinkActive="active">
            <h4>Check Out</h4>
        </a> -->
        <div class="form-inline my-2 my-lg-0">
            <a id="cart" (click)="toggleList()"><i class="fa fa-shopping-cart"></i> Cart <span
                    class="badge badge-info">{{cartCount}}</span></a>
        </div>
        <div class="container" *ngIf="showList">
            <div class="shopping-cart">
                <div class="shopping-cart-header">
                    <i class="fa fa-shopping-cart cart-icon"></i><span class="badge badge-info">{{cartCount}}</span>
                    <div class="shopping-cart-total">
                        <span>Total:</span>
                        <span>${{cartTotal}}</span>
                    </div>
                </div>
                <div *ngIf="cartItems.length == 0" class="py-2">
                    No items in your cart!
                </div>
                <ul class="shopping-cart-items">
                    <li *ngFor="let item of cartItems; let i=index">
                        <!-- <img src="assets/test.jpg" alt="Item" /> -->
                        <span class="item-name">{{item.pName}}</span>
                        <span class="item-price">${{item.price}}</span>
                        <span class="item-quantity">Quantity: {{item.quantity}}</span>
                        <a class="item-remove text-danger" (click)="removeFromCart(item, i)"> Remove </a>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block">Checkout</a>
            </div>
        </div>
    </div>