.theSpot{
    bottom: 0;
    // position: fixed;
    width: 100%;
}

.footerBody{
    display: flex;
    align-items: flex-end;
}

.moveCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallText{
    font-size: 14px;
}

// position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   background-color: red;
//   color: white;
//   text-align: center;