<div class="container-fluid theSpot">
    <div class="row dflex justify-content-center footerBg">
        <div class="col-6 moveCenter">
            <h5 class="text-center smallText">Designed and created by: Carson Huber, January 22, 2020</h5>
        </div>
        <div class="col-6 text-center">
            <h5 class="smallText">
                Information: 
                <br>
                Address: 123 Fake Street, Stockton, CA
                <br>
                Phone Number: 123-456-7890
                <br>
                Email: theAmazingCarson@gmail.com
            </h5>
        </div>
    </div>
</div>