.apparelColor{
    background: rgb(88,150,124);
    background: linear-gradient(90deg, rgba(88,150,124,1) 0%, rgba(54,96,78,1) 71%, rgba(44,75,62,1) 100%);
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}