<div class="profileColor">
    <div class="container-fluid d-flex justify-content-center">

        <div class="row">

        </div>

        <div class="row">
            <div class="col-3 pt-5 pb-4">
                <div class="row pl-5">
                    <img src="assets/ReaperMask.jpg" class="rounded-circle profileImage"
                        alt="Your Profile Picture Goes Here">
                </div>
                <br>
                <div class="row pl-3">
                    <div class="col whitebg mr-5">
                        <h4>Name: Carson Huber</h4>
                        <p>Username: EcstaticCarson</p>
                        <p>
                            1234 Fake Street Modesto, CA 95321
                        </p>
                        <p>Age: 30</p>
                        <p>Gender: Male</p>
                    </div>
                </div>
            </div>
            <div class="col pt-5 whitebg">
                <h4>About Me (Describe yourself):</h4>
                <p>I just made this part because why not?</p>
                <h4>What made you get into cosplaying?</h4>
                <p>I just like pretending to be something I'm not and why not? It's fun.</p>
                <h4>What was your favorite character or who would you want to cosplay?</h4>
                <p>If I had to choose, I would want to be Diablo's Tyrael's Angel Form. Super Awesome
                    to have wings, armor, and attire like that.
                </p>
                <h4>Are you one to go "in-game character" or prefer to be yourself?</h4>
                <p>It really depends on who I'm dressed up as. If something I'm okay with, then myself.
                    But if I'm cosplaying as something I like, then I want to pretend to be that character.
                </p>
            </div>
            <div class="col-2 ml-5 pt-5 pb-4 pr-4 whitebg text-right">
                <h4>Date Joined:</h4>
                <p>Febuary 3, 2020</p>
                <h4>Last Login:</h4>
                <p>Febuary 5, 2020</p>
                <h4>Email Address:</h4>
                <p>IAmAFakeAccount@Gmail.com</p>
                <h4>Date of Birth:</h4>
                <p> November 19, 1990</p>
                <h4>Country:</h4>
                <p>United States</p>
            </div>
        </div>
    </div>
</div>