<div class="card mb-5 mt-5" style="width: 18rem; height: 35rem;">
    <div class="card-body">
        <img class="img-fluid" [src]="item.img" alt="">
        <h5 class="card-title">{{item.pName}}</h5>
        <p class="card-text">{{item.pDesc}}</p>
        <p class="card-text">{{item.additionalInfo}}</p>
        <p class="card-text">${{item.price}}</p>
        
        <div class="card-footer">
            <!-- <button class="btn btn-primary btn-block" (click)="addToCart(item)"> Add to Cart </button> -->
            <a class="card-link btn btn-primary btn-block" (click)="addToCart(item)"> Add to Cart</a>
        </div>
        <!-- <app-modaldesc [product]='item'></app-modaldesc> -->
    </div>
</div>