<div class="toolsColor">
    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <h5 class="text-center">
                Hello! Welcome to the Tools & Materials Page! Unfortunately, we are unable to sell
                any materials to help create your desired and preferred cosplay outfits. We will look into
                selling these types of materials and even the tools needed to create/build, but for now we
                will offer this list and information as to what you will need to start creating your own.
            </h5>
            <br>
            <p class="text-center">
                Please keep this in mind that we wish to help you in every way possible to bring alive any
                of your own projects and designs you wish to create. So in order to help you, we wish to provide
                the necessary tools you MUST have before even beginning designing it yourself, and also to
                provide a list of pictures that will help you create your own outfits, objects, or even just for fun.
                Please keep in mind that everything should be handled and worked in a safe and open environment. Best
                of luck and good luck on creating your desired projects!
            </p>
        </div>
    </div>
    <hr>
    <br>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/SewingMachine.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/SpraypaintGun.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/RotaryTool.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/SafetyGear.jpg" class="img-fluid" alt="...">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/FoamPic.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/Glue.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/PliersPic.jpg" class="img-fluid" alt="...">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/HeavyDutyLeatherPunch.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/Paintbrush.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/Hammer.jpeg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/Paint.jpeg" class="img-fluid" alt="">
                    </div>
                    <div class="col-6">
                        <img src="assets/imageFolder/tools/KnottingCord.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img src="assets/imageFolder/tools/cosplay_props_armors_materials_2.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>