<div class="container">

  <fieldset>
    <legend> Create an Account</legend>
    <form [formGroup]="createForm" (ngSubmit)="accountCheck()">
      <div class="form-group">
        <div class="row">
          <div class="col-4">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName">
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="userName">Username</label>
              <input type="text" class="form-control" id="userName" formControlName="userName">
              <!-- <small class="text-danger" *ngIf="userName.invalid && userName.touched">
                      ** Username is invalid.
                  </small> -->
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
              <!-- <small class="text-danger" *ngIf="password.invalid && password.touched">
                  ** Incorrect password. Please try again.
              </small> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control" id="emailAddress" formControlName="emailAddress">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="birth">Date of Birth</label>
            <input type="date" class="form-control" id="birth" formControlName="birth">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="gender">Sex/Gender:</label>
            <input type="text" class="form-control" id="gender" formControlName="gender">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="country">Country</label>
            <select class="form-control" id="country" formControlName="country">
              <option>United States</option>
              <option>Mexico</option>
              <option>Canada</option>
              <option>Panama</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="city">City</label>
            <select class="form-control" id="city" formControlName="city">
              <option>Stockton</option>
              <option>San Francisco</option>
              <option>Modesto</option>
              <option>Sacramento</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="streetZip">Street Address + Zip</label>
            <input type="text" class="form-control" id="streetZip" formControlName="streetZip">
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="secretQuestion">Secret Question</label>
        <input type="text" class="form-control" id="secretQuestion" formControlName="secretQuestion">
      </div>
      <div class="form-group">
        <label for="secretAnswer">Secret Answer</label>
        <input type="text" class="form-control" id="secretAnswer" formControlName="secretAnswer">
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mr-5">Submit</button>
        <button type="button" class="btn btn-secondary ml-5" (click)="cancelValue()">Cancel</button>
      </div>
    </form>
  </fieldset>

</div>