.backColor{
    background: rgb(51,131,181);
    background: linear-gradient(90deg, rgba(51,131,181,1) 0%, rgba(29,73,101,1) 71%, rgba(26,66,91,1) 100%);
    color: white;
}

.roundMe{
    border: whitesmoke solid 3px;
    padding: 1rem;
}