<div class="backColor">
    <div class="container d-flex justify-content-center text-center">
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" src="../../../assets/carsonPhoto1.png" alt="..." srcset="">
            </div>
            <div class="col-10">
                <h4>Hello! My name is Carson Huber. I am the founder and creator of this website and company and I wish
                    to
                    welcome to Carson's Store of Cosplay! We're a store of cosplayers who hope to provide, assist, and
                    design all types of outfits, objects, and/or specific requests that our customer's can enjoy. Before
                    this store was created, we were fans and fellow cosplayers who enjoyed the idea of being a character
                    they created, adored, and/or pretended to be. Thereby, when learning there was very view stores out
                    there who helped, provided, and designed customers requests and orders, we felt we could be a store
                    that
                    could take the next step and go the distance! While fairly new, we are hoping to grow and provide a
                    fresh new look into shopping for people wanting to cosplay.
                </h4>
            </div>
        </div>
    </div>
    <br>
    <div class="container d-flex justify-content-center text-center">
        <div class="row">
            <h3>Recently Asked Questions:</h3>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p class="rounded-pill roundMe">
                Q: When did you open your store and/or WebStore?
                <br>
                A: We were founded in January 13, 2020. We're a fresh and new store that hopes to meet any, if not all,
                of our customer's needs. While still new and fresh into the market, we hope to grow and become a
                respectable company that meets all of our customer's needs.
            </p>
            <br>
            <p class="rounded-pill roundMe">
                Q: What is the purpose of your WebStore?
                <br>
                A: We wish to provide, assist, and design cosplay outfits, or objects, for the customer's use. We also
                help provide a materials list (and hopefully in the future a list of materials that could be purchased)
                to help any ambitious designers who need help getting started.
            </p>
            <br>
            <p class="rounded-pill roundMe">
                Q: Why have a Tools/Materials list if you're not selling any of the listed products?
                <br>
                A: We wish to, later down the road, sell individual products on their own for customer uses, but for
                now, we have to settle with helping users start with lists of items that can be purchased.
                While we provide a great amount of items, we are still a fairly new store/company hoping to get its
                footing first, we hope to grow and, overtime, provide more product and materials for our customers,
                we ask only for patience until we are able to do so.
            </p>
            <br>
            <p class="rounded-pill roundMe">
                Q: What if I cannot find what I'm looking for?
                <br>
                A: Contact us through customer service and we'll see how we will be able to assist you. Being unable
                to assist you [the customer] would make us feel uneased that we were unable to provide what you were
                searching for would not meet our goals for why we created this store.
            </p>
            <br>
            <p class="rounded-pill roundMe">
                Q: Are you by any chance hiring anyone to come work at this store?
                <br>
                A: We are always looking to hire people who meet the certain requirements towards the fields people
                apply for. Whether it be designer, marketing, customer service, etc. we are always hoping to add more
                to our family.
            </p>
        </div>
    </div>