/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

.footerBg{
    background-color: grey;
    color: white;
} 

.inBetween{
    display: flex;
    justify-content: space-around;
}

.picFit{
    height: 100%;
    width: 60%;
    color: white;
}

.checkOut{
    background-size: cover;
    position: relative;
    width: 100%;
}